node_modules/
bun.lockb
.DS_Store
.env
lerna-debug.log
icons-playground.html

# Packages
packages/icons/icons
packages/icons*/icons/*
packages/icons*/icons-solid/*
packages/icons*/src/icons/*
packages/icons*/src/icons-solid/*
packages/icons*/stats/*
packages/icons*/dist
tags-playground.html
tags_latest.json
bun.lock
