node_modules/
bun.lockb
.DS_Store
.env
lerna-debug.log

# Packages
packages/icons/icons
packages/icons*/icons/*
packages/icons*/src/icons/*
packages/icons*/stats/*
packages/icons*/icons/*
packages/icons*/dist
