@font-face {font-family: "mynaui";
  src: url('mynaui.eot?t=1696402351233'); /* IE9*/
  src: url('mynaui.eot?t=1696402351233#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("mynaui.woff2?t=1696402351233") format("woff2"),
  url("mynaui.woff?t=1696402351233") format("woff"),
  url('mynaui.ttf?t=1696402351233') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('mynaui.svg?t=1696402351233#mynaui') format('svg'); /* iOS 4.1- */
}

[class^="mynaui-"], [class*=" mynaui-"] {
  font-family: 'mynaui' !important;font-size: 12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mynaui-academic-hat:before { content: "\ea01"; }
.mynaui-arrow-diagonal-one:before { content: "\ea02"; }
.mynaui-arrow-diagonal-two:before { content: "\ea03"; }
.mynaui-arrow-down-circle:before { content: "\ea04"; }
.mynaui-arrow-down-left-circle:before { content: "\ea05"; }
.mynaui-arrow-down-left-square:before { content: "\ea06"; }
.mynaui-arrow-down-left-waves:before { content: "\ea07"; }
.mynaui-arrow-down-left:before { content: "\ea08"; }
.mynaui-arrow-down-right-circle:before { content: "\ea09"; }
.mynaui-arrow-down-right-square:before { content: "\ea0a"; }
.mynaui-arrow-down-right-waves:before { content: "\ea0b"; }
.mynaui-arrow-down-right:before { content: "\ea0c"; }
.mynaui-arrow-down-square:before { content: "\ea0d"; }
.mynaui-arrow-down-waves:before { content: "\ea0e"; }
.mynaui-arrow-down:before { content: "\ea0f"; }
.mynaui-arrow-left-circle:before { content: "\ea10"; }
.mynaui-arrow-left-right:before { content: "\ea11"; }
.mynaui-arrow-left-square:before { content: "\ea12"; }
.mynaui-arrow-left-waves:before { content: "\ea13"; }
.mynaui-arrow-left:before { content: "\ea14"; }
.mynaui-arrow-right-circle:before { content: "\ea15"; }
.mynaui-arrow-right-square:before { content: "\ea16"; }
.mynaui-arrow-right-waves:before { content: "\ea17"; }
.mynaui-arrow-right:before { content: "\ea18"; }
.mynaui-arrow-up-circle:before { content: "\ea19"; }
.mynaui-arrow-up-down:before { content: "\ea1a"; }
.mynaui-arrow-up-left-circle:before { content: "\ea1b"; }
.mynaui-arrow-up-left-square:before { content: "\ea1c"; }
.mynaui-arrow-up-left-waves:before { content: "\ea1d"; }
.mynaui-arrow-up-left:before { content: "\ea1e"; }
.mynaui-arrow-up-right-circle:before { content: "\ea1f"; }
.mynaui-arrow-up-right-square:before { content: "\ea20"; }
.mynaui-arrow-up-right-waves:before { content: "\ea21"; }
.mynaui-arrow-up-right:before { content: "\ea22"; }
.mynaui-arrow-up-square:before { content: "\ea23"; }
.mynaui-arrow-up-waves:before { content: "\ea24"; }
.mynaui-arrow-up:before { content: "\ea25"; }
.mynaui-at:before { content: "\ea26"; }
.mynaui-bell:before { content: "\ea27"; }
.mynaui-bookmark:before { content: "\ea28"; }
.mynaui-campfire:before { content: "\ea29"; }
.mynaui-chart-bar:before { content: "\ea2a"; }
.mynaui-chart-pie:before { content: "\ea2b"; }
.mynaui-check-circle:before { content: "\ea2c"; }
.mynaui-check-octagon:before { content: "\ea2d"; }
.mynaui-check-square:before { content: "\ea2e"; }
.mynaui-check-waves:before { content: "\ea2f"; }
.mynaui-check:before { content: "\ea30"; }
.mynaui-chevron-double-down-left:before { content: "\ea31"; }
.mynaui-chevron-double-down-right:before { content: "\ea32"; }
.mynaui-chevron-double-down:before { content: "\ea33"; }
.mynaui-chevron-double-left:before { content: "\ea34"; }
.mynaui-chevron-double-right:before { content: "\ea35"; }
.mynaui-chevron-double-up-left:before { content: "\ea36"; }
.mynaui-chevron-double-up-right:before { content: "\ea37"; }
.mynaui-chevron-double-up:before { content: "\ea38"; }
.mynaui-chevron-down-circle:before { content: "\ea39"; }
.mynaui-chevron-down-left-circle:before { content: "\ea3a"; }
.mynaui-chevron-down-left-square:before { content: "\ea3b"; }
.mynaui-chevron-down-left-waves:before { content: "\ea3c"; }
.mynaui-chevron-down-left:before { content: "\ea3d"; }
.mynaui-chevron-down-right-circle:before { content: "\ea3e"; }
.mynaui-chevron-down-right-square:before { content: "\ea3f"; }
.mynaui-chevron-down-right-waves:before { content: "\ea40"; }
.mynaui-chevron-down-right:before { content: "\ea41"; }
.mynaui-chevron-down-square:before { content: "\ea42"; }
.mynaui-chevron-down-waves:before { content: "\ea43"; }
.mynaui-chevron-down:before { content: "\ea44"; }
.mynaui-chevron-left-circle:before { content: "\ea45"; }
.mynaui-chevron-left-square:before { content: "\ea46"; }
.mynaui-chevron-left-waves:before { content: "\ea47"; }
.mynaui-chevron-left:before { content: "\ea48"; }
.mynaui-chevron-right-circle:before { content: "\ea49"; }
.mynaui-chevron-right-square:before { content: "\ea4a"; }
.mynaui-chevron-right-waves:before { content: "\ea4b"; }
.mynaui-chevron-right:before { content: "\ea4c"; }
.mynaui-chevron-up-circle:before { content: "\ea4d"; }
.mynaui-chevron-up-left-circle:before { content: "\ea4e"; }
.mynaui-chevron-up-left-square:before { content: "\ea4f"; }
.mynaui-chevron-up-left-waves:before { content: "\ea50"; }
.mynaui-chevron-up-left:before { content: "\ea51"; }
.mynaui-chevron-up-right-circle:before { content: "\ea52"; }
.mynaui-chevron-up-right-square:before { content: "\ea53"; }
.mynaui-chevron-up-right-waves:before { content: "\ea54"; }
.mynaui-chevron-up-right:before { content: "\ea55"; }
.mynaui-chevron-up-square:before { content: "\ea56"; }
.mynaui-chevron-up-waves:before { content: "\ea57"; }
.mynaui-chevron-up:before { content: "\ea58"; }
.mynaui-circle:before { content: "\ea59"; }
.mynaui-clock-circle:before { content: "\ea5a"; }
.mynaui-clock-hand:before { content: "\ea5b"; }
.mynaui-clock-square:before { content: "\ea5c"; }
.mynaui-clock-waves:before { content: "\ea5d"; }
.mynaui-cloud-download:before { content: "\ea5e"; }
.mynaui-cloud-rain:before { content: "\ea5f"; }
.mynaui-cloud-upload:before { content: "\ea60"; }
.mynaui-cloud:before { content: "\ea61"; }
.mynaui-code-circle:before { content: "\ea62"; }
.mynaui-code-square:before { content: "\ea63"; }
.mynaui-code-waves:before { content: "\ea64"; }
.mynaui-code:before { content: "\ea65"; }
.mynaui-cog:before { content: "\ea66"; }
.mynaui-columns:before { content: "\ea67"; }
.mynaui-command:before { content: "\ea68"; }
.mynaui-compass:before { content: "\ea69"; }
.mynaui-config-vertical:before { content: "\ea6a"; }
.mynaui-config:before { content: "\ea6b"; }
.mynaui-controller:before { content: "\ea6c"; }
.mynaui-copy:before { content: "\ea6d"; }
.mynaui-corner-down-left:before { content: "\ea6e"; }
.mynaui-corner-down-right:before { content: "\ea6f"; }
.mynaui-corner-left-down:before { content: "\ea70"; }
.mynaui-corner-left-up:before { content: "\ea71"; }
.mynaui-corner-right-down:before { content: "\ea72"; }
.mynaui-corner-right-up:before { content: "\ea73"; }
.mynaui-corner-up-left:before { content: "\ea74"; }
.mynaui-corner-up-right:before { content: "\ea75"; }
.mynaui-danger-circle:before { content: "\ea76"; }
.mynaui-danger-octagon:before { content: "\ea77"; }
.mynaui-danger-square:before { content: "\ea78"; }
.mynaui-danger-triangle:before { content: "\ea79"; }
.mynaui-danger-waves:before { content: "\ea7a"; }
.mynaui-danger:before { content: "\ea7b"; }
.mynaui-database:before { content: "\ea7c"; }
.mynaui-daze-emoji:before { content: "\ea7d"; }
.mynaui-delete:before { content: "\ea7e"; }
.mynaui-dislike:before { content: "\ea7f"; }
.mynaui-dots-circle:before { content: "\ea80"; }
.mynaui-dots-square:before { content: "\ea81"; }
.mynaui-dots-vertical-circle:before { content: "\ea82"; }
.mynaui-dots-vertical-square:before { content: "\ea83"; }
.mynaui-dots-vertical-waves:before { content: "\ea84"; }
.mynaui-dots-vertical:before { content: "\ea85"; }
.mynaui-dots-waves:before { content: "\ea86"; }
.mynaui-dots:before { content: "\ea87"; }
.mynaui-download:before { content: "\ea88"; }
.mynaui-edit:before { content: "\ea89"; }
.mynaui-file-minus:before { content: "\ea8a"; }
.mynaui-file-plus:before { content: "\ea8b"; }
.mynaui-file-text:before { content: "\ea8c"; }
.mynaui-file:before { content: "\ea8d"; }
.mynaui-filter-one:before { content: "\ea8e"; }
.mynaui-filter:before { content: "\ea8f"; }
.mynaui-fire:before { content: "\ea90"; }
.mynaui-flag:before { content: "\ea91"; }
.mynaui-folder-check:before { content: "\ea92"; }
.mynaui-folder-heart:before { content: "\ea93"; }
.mynaui-folder-minus:before { content: "\ea94"; }
.mynaui-folder-one:before { content: "\ea95"; }
.mynaui-folder-plus:before { content: "\ea96"; }
.mynaui-folder-two:before { content: "\ea97"; }
.mynaui-folder-x:before { content: "\ea98"; }
.mynaui-folder:before { content: "\ea99"; }
.mynaui-forward-circle:before { content: "\ea9a"; }
.mynaui-forward-square:before { content: "\ea9b"; }
.mynaui-forward-waves:before { content: "\ea9c"; }
.mynaui-forward:before { content: "\ea9d"; }
.mynaui-funny-emoji:before { content: "\ea9e"; }
.mynaui-globe:before { content: "\ea9f"; }
.mynaui-grid:before { content: "\eaa0"; }
.mynaui-hash-circle:before { content: "\eaa1"; }
.mynaui-hash-square:before { content: "\eaa2"; }
.mynaui-hash-waves:before { content: "\eaa3"; }
.mynaui-hash:before { content: "\eaa4"; }
.mynaui-heading-one:before { content: "\eaa5"; }
.mynaui-heading-three:before { content: "\eaa6"; }
.mynaui-heading-two:before { content: "\eaa7"; }
.mynaui-heading:before { content: "\eaa8"; }
.mynaui-heart-circle:before { content: "\eaa9"; }
.mynaui-heart-square:before { content: "\eaaa"; }
.mynaui-heart-waves:before { content: "\eaab"; }
.mynaui-heart:before { content: "\eaac"; }
.mynaui-hexagon:before { content: "\eaad"; }
.mynaui-home:before { content: "\eaae"; }
.mynaui-inbox:before { content: "\eaaf"; }
.mynaui-indifferent-emoji:before { content: "\eab0"; }
.mynaui-info-circle:before { content: "\eab1"; }
.mynaui-info-octagon:before { content: "\eab2"; }
.mynaui-info-square:before { content: "\eab3"; }
.mynaui-info-triangle:before { content: "\eab4"; }
.mynaui-info-waves:before { content: "\eab5"; }
.mynaui-info:before { content: "\eab6"; }
.mynaui-keyboard:before { content: "\eab7"; }
.mynaui-label:before { content: "\eab8"; }
.mynaui-layout:before { content: "\eab9"; }
.mynaui-like:before { content: "\eaba"; }
.mynaui-link:before { content: "\eabb"; }
.mynaui-list:before { content: "\eabc"; }
.mynaui-location:before { content: "\eabd"; }
.mynaui-lock-keyhole:before { content: "\eabe"; }
.mynaui-lock-open-keyhole:before { content: "\eabf"; }
.mynaui-lock-open:before { content: "\eac0"; }
.mynaui-lock:before { content: "\eac1"; }
.mynaui-login:before { content: "\eac2"; }
.mynaui-logout:before { content: "\eac3"; }
.mynaui-math:before { content: "\eac4"; }
.mynaui-maximize-one:before { content: "\eac5"; }
.mynaui-maximize:before { content: "\eac6"; }
.mynaui-menu:before { content: "\eac7"; }
.mynaui-minimize-one:before { content: "\eac8"; }
.mynaui-minimize:before { content: "\eac9"; }
.mynaui-minus-circle:before { content: "\eaca"; }
.mynaui-minus-octagon:before { content: "\eacb"; }
.mynaui-minus-square:before { content: "\eacc"; }
.mynaui-minus-waves:before { content: "\eacd"; }
.mynaui-minus:before { content: "\eace"; }
.mynaui-mobile:before { content: "\eacf"; }
.mynaui-moon:before { content: "\ead0"; }
.mynaui-move:before { content: "\ead1"; }
.mynaui-myna:before { content: "\ead2"; }
.mynaui-notification:before { content: "\ead3"; }
.mynaui-octagon:before { content: "\ead4"; }
.mynaui-pause-circle:before { content: "\ead5"; }
.mynaui-pause-square:before { content: "\ead6"; }
.mynaui-pause-waves:before { content: "\ead7"; }
.mynaui-pause:before { content: "\ead8"; }
.mynaui-percentage-circle:before { content: "\ead9"; }
.mynaui-percentage-square:before { content: "\eada"; }
.mynaui-percentage-waves:before { content: "\eadb"; }
.mynaui-percentage:before { content: "\eadc"; }
.mynaui-play-circle:before { content: "\eadd"; }
.mynaui-play-square:before { content: "\eade"; }
.mynaui-play-waves:before { content: "\eadf"; }
.mynaui-play:before { content: "\eae0"; }
.mynaui-plus-circle:before { content: "\eae1"; }
.mynaui-plus-octagon:before { content: "\eae2"; }
.mynaui-plus-square:before { content: "\eae3"; }
.mynaui-plus-waves:before { content: "\eae4"; }
.mynaui-plus:before { content: "\eae5"; }
.mynaui-question-circle:before { content: "\eae6"; }
.mynaui-question-square:before { content: "\eae7"; }
.mynaui-question-waves:before { content: "\eae8"; }
.mynaui-question:before { content: "\eae9"; }
.mynaui-radio:before { content: "\eaea"; }
.mynaui-rewind-circle:before { content: "\eaeb"; }
.mynaui-rewind-square:before { content: "\eaec"; }
.mynaui-rewind-waves:before { content: "\eaed"; }
.mynaui-rewind:before { content: "\eaee"; }
.mynaui-rss:before { content: "\eaef"; }
.mynaui-sad-emoji:before { content: "\eaf0"; }
.mynaui-search-minus:before { content: "\eaf1"; }
.mynaui-search-plus:before { content: "\eaf2"; }
.mynaui-search:before { content: "\eaf3"; }
.mynaui-share:before { content: "\eaf4"; }
.mynaui-shield-check:before { content: "\eaf5"; }
.mynaui-shield-minus:before { content: "\eaf6"; }
.mynaui-shield-plus:before { content: "\eaf7"; }
.mynaui-shield:before { content: "\eaf8"; }
.mynaui-shuffle:before { content: "\eaf9"; }
.mynaui-sidebar-alt:before { content: "\eafa"; }
.mynaui-sidebar:before { content: "\eafb"; }
.mynaui-signal-circle:before { content: "\eafc"; }
.mynaui-signal-square:before { content: "\eafd"; }
.mynaui-signal-waves:before { content: "\eafe"; }
.mynaui-signal:before { content: "\eaff"; }
.mynaui-slash:before { content: "\eb00"; }
.mynaui-smile-emoji:before { content: "\eb01"; }
.mynaui-sort:before { content: "\eb02"; }
.mynaui-sparkles:before { content: "\eb03"; }
.mynaui-spinner:before { content: "\eb04"; }
.mynaui-square:before { content: "\eb05"; }
.mynaui-star:before { content: "\eb06"; }
.mynaui-stop-circle:before { content: "\eb07"; }
.mynaui-stop-square:before { content: "\eb08"; }
.mynaui-stop-waves:before { content: "\eb09"; }
.mynaui-stop:before { content: "\eb0a"; }
.mynaui-sun:before { content: "\eb0b"; }
.mynaui-support:before { content: "\eb0c"; }
.mynaui-table:before { content: "\eb0d"; }
.mynaui-tablet:before { content: "\eb0e"; }
.mynaui-tag-plus:before { content: "\eb0f"; }
.mynaui-tag:before { content: "\eb10"; }
.mynaui-target:before { content: "\eb11"; }
.mynaui-text-align-center:before { content: "\eb12"; }
.mynaui-text-align-left:before { content: "\eb13"; }
.mynaui-text-align-right:before { content: "\eb14"; }
.mynaui-text-justify:before { content: "\eb15"; }
.mynaui-trash:before { content: "\eb16"; }
.mynaui-triangle:before { content: "\eb17"; }
.mynaui-umbrella:before { content: "\eb18"; }
.mynaui-upload:before { content: "\eb19"; }
.mynaui-user-check:before { content: "\eb1a"; }
.mynaui-user-circle:before { content: "\eb1b"; }
.mynaui-user-minus:before { content: "\eb1c"; }
.mynaui-user-plus:before { content: "\eb1d"; }
.mynaui-user-settings:before { content: "\eb1e"; }
.mynaui-user-x:before { content: "\eb1f"; }
.mynaui-user:before { content: "\eb20"; }
.mynaui-waves:before { content: "\eb21"; }
.mynaui-wifi:before { content: "\eb22"; }
.mynaui-x-circle:before { content: "\eb23"; }
.mynaui-x-octagon:before { content: "\eb24"; }
.mynaui-x-square:before { content: "\eb25"; }
.mynaui-x-waves:before { content: "\eb26"; }
.mynaui-x:before { content: "\eb27"; }

$mynaui-academic-hat: "\ea01";
$mynaui-arrow-diagonal-one: "\ea02";
$mynaui-arrow-diagonal-two: "\ea03";
$mynaui-arrow-down-circle: "\ea04";
$mynaui-arrow-down-left-circle: "\ea05";
$mynaui-arrow-down-left-square: "\ea06";
$mynaui-arrow-down-left-waves: "\ea07";
$mynaui-arrow-down-left: "\ea08";
$mynaui-arrow-down-right-circle: "\ea09";
$mynaui-arrow-down-right-square: "\ea0a";
$mynaui-arrow-down-right-waves: "\ea0b";
$mynaui-arrow-down-right: "\ea0c";
$mynaui-arrow-down-square: "\ea0d";
$mynaui-arrow-down-waves: "\ea0e";
$mynaui-arrow-down: "\ea0f";
$mynaui-arrow-left-circle: "\ea10";
$mynaui-arrow-left-right: "\ea11";
$mynaui-arrow-left-square: "\ea12";
$mynaui-arrow-left-waves: "\ea13";
$mynaui-arrow-left: "\ea14";
$mynaui-arrow-right-circle: "\ea15";
$mynaui-arrow-right-square: "\ea16";
$mynaui-arrow-right-waves: "\ea17";
$mynaui-arrow-right: "\ea18";
$mynaui-arrow-up-circle: "\ea19";
$mynaui-arrow-up-down: "\ea1a";
$mynaui-arrow-up-left-circle: "\ea1b";
$mynaui-arrow-up-left-square: "\ea1c";
$mynaui-arrow-up-left-waves: "\ea1d";
$mynaui-arrow-up-left: "\ea1e";
$mynaui-arrow-up-right-circle: "\ea1f";
$mynaui-arrow-up-right-square: "\ea20";
$mynaui-arrow-up-right-waves: "\ea21";
$mynaui-arrow-up-right: "\ea22";
$mynaui-arrow-up-square: "\ea23";
$mynaui-arrow-up-waves: "\ea24";
$mynaui-arrow-up: "\ea25";
$mynaui-at: "\ea26";
$mynaui-bell: "\ea27";
$mynaui-bookmark: "\ea28";
$mynaui-campfire: "\ea29";
$mynaui-chart-bar: "\ea2a";
$mynaui-chart-pie: "\ea2b";
$mynaui-check-circle: "\ea2c";
$mynaui-check-octagon: "\ea2d";
$mynaui-check-square: "\ea2e";
$mynaui-check-waves: "\ea2f";
$mynaui-check: "\ea30";
$mynaui-chevron-double-down-left: "\ea31";
$mynaui-chevron-double-down-right: "\ea32";
$mynaui-chevron-double-down: "\ea33";
$mynaui-chevron-double-left: "\ea34";
$mynaui-chevron-double-right: "\ea35";
$mynaui-chevron-double-up-left: "\ea36";
$mynaui-chevron-double-up-right: "\ea37";
$mynaui-chevron-double-up: "\ea38";
$mynaui-chevron-down-circle: "\ea39";
$mynaui-chevron-down-left-circle: "\ea3a";
$mynaui-chevron-down-left-square: "\ea3b";
$mynaui-chevron-down-left-waves: "\ea3c";
$mynaui-chevron-down-left: "\ea3d";
$mynaui-chevron-down-right-circle: "\ea3e";
$mynaui-chevron-down-right-square: "\ea3f";
$mynaui-chevron-down-right-waves: "\ea40";
$mynaui-chevron-down-right: "\ea41";
$mynaui-chevron-down-square: "\ea42";
$mynaui-chevron-down-waves: "\ea43";
$mynaui-chevron-down: "\ea44";
$mynaui-chevron-left-circle: "\ea45";
$mynaui-chevron-left-square: "\ea46";
$mynaui-chevron-left-waves: "\ea47";
$mynaui-chevron-left: "\ea48";
$mynaui-chevron-right-circle: "\ea49";
$mynaui-chevron-right-square: "\ea4a";
$mynaui-chevron-right-waves: "\ea4b";
$mynaui-chevron-right: "\ea4c";
$mynaui-chevron-up-circle: "\ea4d";
$mynaui-chevron-up-left-circle: "\ea4e";
$mynaui-chevron-up-left-square: "\ea4f";
$mynaui-chevron-up-left-waves: "\ea50";
$mynaui-chevron-up-left: "\ea51";
$mynaui-chevron-up-right-circle: "\ea52";
$mynaui-chevron-up-right-square: "\ea53";
$mynaui-chevron-up-right-waves: "\ea54";
$mynaui-chevron-up-right: "\ea55";
$mynaui-chevron-up-square: "\ea56";
$mynaui-chevron-up-waves: "\ea57";
$mynaui-chevron-up: "\ea58";
$mynaui-circle: "\ea59";
$mynaui-clock-circle: "\ea5a";
$mynaui-clock-hand: "\ea5b";
$mynaui-clock-square: "\ea5c";
$mynaui-clock-waves: "\ea5d";
$mynaui-cloud-download: "\ea5e";
$mynaui-cloud-rain: "\ea5f";
$mynaui-cloud-upload: "\ea60";
$mynaui-cloud: "\ea61";
$mynaui-code-circle: "\ea62";
$mynaui-code-square: "\ea63";
$mynaui-code-waves: "\ea64";
$mynaui-code: "\ea65";
$mynaui-cog: "\ea66";
$mynaui-columns: "\ea67";
$mynaui-command: "\ea68";
$mynaui-compass: "\ea69";
$mynaui-config-vertical: "\ea6a";
$mynaui-config: "\ea6b";
$mynaui-controller: "\ea6c";
$mynaui-copy: "\ea6d";
$mynaui-corner-down-left: "\ea6e";
$mynaui-corner-down-right: "\ea6f";
$mynaui-corner-left-down: "\ea70";
$mynaui-corner-left-up: "\ea71";
$mynaui-corner-right-down: "\ea72";
$mynaui-corner-right-up: "\ea73";
$mynaui-corner-up-left: "\ea74";
$mynaui-corner-up-right: "\ea75";
$mynaui-danger-circle: "\ea76";
$mynaui-danger-octagon: "\ea77";
$mynaui-danger-square: "\ea78";
$mynaui-danger-triangle: "\ea79";
$mynaui-danger-waves: "\ea7a";
$mynaui-danger: "\ea7b";
$mynaui-database: "\ea7c";
$mynaui-daze-emoji: "\ea7d";
$mynaui-delete: "\ea7e";
$mynaui-dislike: "\ea7f";
$mynaui-dots-circle: "\ea80";
$mynaui-dots-square: "\ea81";
$mynaui-dots-vertical-circle: "\ea82";
$mynaui-dots-vertical-square: "\ea83";
$mynaui-dots-vertical-waves: "\ea84";
$mynaui-dots-vertical: "\ea85";
$mynaui-dots-waves: "\ea86";
$mynaui-dots: "\ea87";
$mynaui-download: "\ea88";
$mynaui-edit: "\ea89";
$mynaui-file-minus: "\ea8a";
$mynaui-file-plus: "\ea8b";
$mynaui-file-text: "\ea8c";
$mynaui-file: "\ea8d";
$mynaui-filter-one: "\ea8e";
$mynaui-filter: "\ea8f";
$mynaui-fire: "\ea90";
$mynaui-flag: "\ea91";
$mynaui-folder-check: "\ea92";
$mynaui-folder-heart: "\ea93";
$mynaui-folder-minus: "\ea94";
$mynaui-folder-one: "\ea95";
$mynaui-folder-plus: "\ea96";
$mynaui-folder-two: "\ea97";
$mynaui-folder-x: "\ea98";
$mynaui-folder: "\ea99";
$mynaui-forward-circle: "\ea9a";
$mynaui-forward-square: "\ea9b";
$mynaui-forward-waves: "\ea9c";
$mynaui-forward: "\ea9d";
$mynaui-funny-emoji: "\ea9e";
$mynaui-globe: "\ea9f";
$mynaui-grid: "\eaa0";
$mynaui-hash-circle: "\eaa1";
$mynaui-hash-square: "\eaa2";
$mynaui-hash-waves: "\eaa3";
$mynaui-hash: "\eaa4";
$mynaui-heading-one: "\eaa5";
$mynaui-heading-three: "\eaa6";
$mynaui-heading-two: "\eaa7";
$mynaui-heading: "\eaa8";
$mynaui-heart-circle: "\eaa9";
$mynaui-heart-square: "\eaaa";
$mynaui-heart-waves: "\eaab";
$mynaui-heart: "\eaac";
$mynaui-hexagon: "\eaad";
$mynaui-home: "\eaae";
$mynaui-inbox: "\eaaf";
$mynaui-indifferent-emoji: "\eab0";
$mynaui-info-circle: "\eab1";
$mynaui-info-octagon: "\eab2";
$mynaui-info-square: "\eab3";
$mynaui-info-triangle: "\eab4";
$mynaui-info-waves: "\eab5";
$mynaui-info: "\eab6";
$mynaui-keyboard: "\eab7";
$mynaui-label: "\eab8";
$mynaui-layout: "\eab9";
$mynaui-like: "\eaba";
$mynaui-link: "\eabb";
$mynaui-list: "\eabc";
$mynaui-location: "\eabd";
$mynaui-lock-keyhole: "\eabe";
$mynaui-lock-open-keyhole: "\eabf";
$mynaui-lock-open: "\eac0";
$mynaui-lock: "\eac1";
$mynaui-login: "\eac2";
$mynaui-logout: "\eac3";
$mynaui-math: "\eac4";
$mynaui-maximize-one: "\eac5";
$mynaui-maximize: "\eac6";
$mynaui-menu: "\eac7";
$mynaui-minimize-one: "\eac8";
$mynaui-minimize: "\eac9";
$mynaui-minus-circle: "\eaca";
$mynaui-minus-octagon: "\eacb";
$mynaui-minus-square: "\eacc";
$mynaui-minus-waves: "\eacd";
$mynaui-minus: "\eace";
$mynaui-mobile: "\eacf";
$mynaui-moon: "\ead0";
$mynaui-move: "\ead1";
$mynaui-myna: "\ead2";
$mynaui-notification: "\ead3";
$mynaui-octagon: "\ead4";
$mynaui-pause-circle: "\ead5";
$mynaui-pause-square: "\ead6";
$mynaui-pause-waves: "\ead7";
$mynaui-pause: "\ead8";
$mynaui-percentage-circle: "\ead9";
$mynaui-percentage-square: "\eada";
$mynaui-percentage-waves: "\eadb";
$mynaui-percentage: "\eadc";
$mynaui-play-circle: "\eadd";
$mynaui-play-square: "\eade";
$mynaui-play-waves: "\eadf";
$mynaui-play: "\eae0";
$mynaui-plus-circle: "\eae1";
$mynaui-plus-octagon: "\eae2";
$mynaui-plus-square: "\eae3";
$mynaui-plus-waves: "\eae4";
$mynaui-plus: "\eae5";
$mynaui-question-circle: "\eae6";
$mynaui-question-square: "\eae7";
$mynaui-question-waves: "\eae8";
$mynaui-question: "\eae9";
$mynaui-radio: "\eaea";
$mynaui-rewind-circle: "\eaeb";
$mynaui-rewind-square: "\eaec";
$mynaui-rewind-waves: "\eaed";
$mynaui-rewind: "\eaee";
$mynaui-rss: "\eaef";
$mynaui-sad-emoji: "\eaf0";
$mynaui-search-minus: "\eaf1";
$mynaui-search-plus: "\eaf2";
$mynaui-search: "\eaf3";
$mynaui-share: "\eaf4";
$mynaui-shield-check: "\eaf5";
$mynaui-shield-minus: "\eaf6";
$mynaui-shield-plus: "\eaf7";
$mynaui-shield: "\eaf8";
$mynaui-shuffle: "\eaf9";
$mynaui-sidebar-alt: "\eafa";
$mynaui-sidebar: "\eafb";
$mynaui-signal-circle: "\eafc";
$mynaui-signal-square: "\eafd";
$mynaui-signal-waves: "\eafe";
$mynaui-signal: "\eaff";
$mynaui-slash: "\eb00";
$mynaui-smile-emoji: "\eb01";
$mynaui-sort: "\eb02";
$mynaui-sparkles: "\eb03";
$mynaui-spinner: "\eb04";
$mynaui-square: "\eb05";
$mynaui-star: "\eb06";
$mynaui-stop-circle: "\eb07";
$mynaui-stop-square: "\eb08";
$mynaui-stop-waves: "\eb09";
$mynaui-stop: "\eb0a";
$mynaui-sun: "\eb0b";
$mynaui-support: "\eb0c";
$mynaui-table: "\eb0d";
$mynaui-tablet: "\eb0e";
$mynaui-tag-plus: "\eb0f";
$mynaui-tag: "\eb10";
$mynaui-target: "\eb11";
$mynaui-text-align-center: "\eb12";
$mynaui-text-align-left: "\eb13";
$mynaui-text-align-right: "\eb14";
$mynaui-text-justify: "\eb15";
$mynaui-trash: "\eb16";
$mynaui-triangle: "\eb17";
$mynaui-umbrella: "\eb18";
$mynaui-upload: "\eb19";
$mynaui-user-check: "\eb1a";
$mynaui-user-circle: "\eb1b";
$mynaui-user-minus: "\eb1c";
$mynaui-user-plus: "\eb1d";
$mynaui-user-settings: "\eb1e";
$mynaui-user-x: "\eb1f";
$mynaui-user: "\eb20";
$mynaui-waves: "\eb21";
$mynaui-wifi: "\eb22";
$mynaui-x-circle: "\eb23";
$mynaui-x-octagon: "\eb24";
$mynaui-x-square: "\eb25";
$mynaui-x-waves: "\eb26";
$mynaui-x: "\eb27";

